body{
  background-color: rgb(228, 224, 224);
}

.App{
  padding: 40px;
}

.fees-form-container{
  width: 500px;
  padding: 40px;
  border: 1px solid black;
}

.content-container{
  display: block;
}

.calendar-container{
  border: 1px black solid;
  width: 100%;
  height: 500px;
}

.price-analysis-container{
  width:auto;
  border: 1px solid black;
  padding: 20px;
}

@media(min-width: 600px){
  .content-container{
    display: flex;
  }
}

#login-container{
  margin-top: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}

.login-box{
  background-color: white;
  width: 90%;
  height: auto;
  margin-left: 5%;
  padding: 20px;
}

@media only screen and (min-width: 850px)
{
  .login-box{
      width: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 0;
  }
}

.fees-form-container{
  max-height: 450px;
}

.price-analysis-container{
  max-height: 400px;
}